# do not push files of these types
*.json
*.csv
*.xslx
*.ipynb
*.html
*.pyc

# do not push these folders
rbo/
Datasets/
.ipynb_checkpoints/
.vscode/.ropeproject/config.py
__pycache__/clustering_utilities.cpython-37.pyc
__pycache__/helpers.cpython-37.pyc
__pycache__/rbo.cpython-37.pyc

